*{
    font-family: 'Tenor Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #ffffff;
    margin: 0px;
}

.menu-content{
    max-height: 0px;
    overflow: hidden;
    padding: 0 0 0 50px;
    z-index: 1000;
    position: absolute;
    background-color: white;
    padding: 10px 20px 10px 50px;
}


.collapsible-menu{
    background-color: rgb(255, 255, 255);
    padding: 20px 30px;
    margin-bottom: 0px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
    height: 50px;
}

input:checked ~ label{
    background-image: url(../img/x.png);
}

input:checked ~ .menu-content{
    max-height: 100%;
    
}

.collapsible-menu ul {
    list-style-type: none;
    padding: 0;
}

.collapsible-menu ul li {
    transition: transform .2s;
}

/* .collapsible-menu ul li:hover {
    transform: scale(1.2);
} */

.collapsible-menu label{
    height: 22px;
    float: left;
    cursor: pointer;
    background: url(../img/burger.png) no-repeat left center;
    background-size: 30px;
    padding: 10px 0 10px 50px;
    text-align: center;
    display: block;
    zoom: 0.6;
    margin-top: 17px;
}

input#menu{
    display: none;
}

.div-menu{
    text-align: center;
}
.navbar-icon{
    padding-left: 30px;
    padding-top: 10px;
    height: 20px;
    float: right;
}

#container{
    color: #ffffff;
}

#freedelivery{
    background-color: #ffdacf;
    color: black;
    text-align: center;
    padding: 10px;
}

nav h1{
    text-align: center;
}

#slider{
    width: 350px;
    height: 200px;
    position: relative;
}

.img-banner {
    width: inherit;
}

.con-slider{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.active{
    opacity: 1;
}

.lineClass {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center; 
    color: black;
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 10px 0 20px; 
    margin: 0px;
} 
 
.lineSpanClass{ 
    background:#fff; 
    padding:0 10px; 
}

.button-container{
    text-align: center;
}
.img-content{
    padding: 30px;
    padding-right: 30px;
    width: inherit;
}

.img-text {
    color: black;
}

.img-button-rcmd{
    border: black;
    background-color: black;
    color: white;
    width: 100px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
}

.flex-container {
    display: flex;
    align-items: center;
    padding: 30px;
    justify-content: space-around;
}

#responsive div{
     text-align: center;
}

#content{
     padding-top: 40px;
     padding-left: 50px;
     padding-right: 50px;
     padding-bottom: 40px;
}

#footer{
    background-color: #ffdacf;
    color: black;
    padding: 30px;
}

.footer-nav{
    text-align: left;
    padding-left: 30px;
}

#footer .footer-c{
    float: right;
    padding-left: 100px;
    font-size: 10px;
}

/*---------------------------------------*/
/* Form Body */
/*---------------------------------------*/
.form-body {
    padding:30px 40px;
    color:#666;
  }
  
  .form-group{
    margin-bottom:20px;
  }
  .form-body .label-title {
    color:black;
    font-size: 17px;
    font-weight: bold;
  }
  
  .form-body .form-input {
      font-size: 17px;
      box-sizing: border-box;
      width: 100%;
      height: 34px;
      padding-left: 10px;
      padding-right: 10px;
      color: #333333;
      text-align: left;
      border: 1px solid #d6d6d6;
      border-radius: 4px;
      background: white;
      outline: none;
  }

  .horizontal-group .left{
    float:left;
    width:49%;
  }
  
  .horizontal-group .right{
    float:right;
    width:49%;
  }
  
  input[type="file"] {
   outline: none;
   cursor:pointer;
   font-size: 17px;
  }
  
  #range-label {
   width:15%;
   padding:5px;
   background-color: #1BBA93;
   color:white;
   border-radius: 5px;
   font-size: 17px;
   position: relative;
   top:-8px;
  }
  
  
  ::-webkit-input-placeholder {
   color:#d9d9d9;
  }
  
  /*---------------------------------------*/
  /* Form Footer */
  /*---------------------------------------*/
  /* .form-footer {
   clear:both;
  } */
  /*---------------------------------------*/
  /* Form Footer */
  /*---------------------------------------*/
  
  .form-footer span {
    float:left;
    margin-top: 10px;
    color:#999;  
    font-style: italic;
    font-weight: thin;
  }
  
  .btn {
    text-align: center;
    display:block;
    padding:10px 20px;
    background-color: black;
    font-size:17px;
    border:none;
    color:#ffffff;
    cursor:pointer;
    float: center;
  }
  
  .btn:hover {
    background-color: #ffdacf;;
    color:black;
  }