*{
    font-family: 'Tenor Sans', sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #ffffff;
    margin: 0px;
}

.menu-content{
    max-height: 0px;
    overflow: hidden;
    padding: 0 0 0 50px;
}


.collapsible-menu{
    background-color: rgb(255, 255, 255);
    padding: 0px 30px;
    margin-bottom: 0px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
}

input:checked ~ label{
    background-image: url(../img/x.png);
}

input:checked ~ .menu-content{
    max-height: 100%;
}

.collapsible-menu ul{
    list-style-type: none;
    padding: 0;
}

.collapsible-menu label{
    display: block;
    cursor: pointer;
    background: url(../img/burger.png) no-repeat left center;
    display: block;
    padding: 10px 0 10px 50px;
    text-align: center;
}

input#menu{
    display: none;
}

#container{
    color: #ffffff;
}

#freedelivery{
    background-color: #ffdacf;
    color: black;
    text-align: center;
    padding: 10px;
}

nav h1{
    text-align: center;
}

#slider{
    width: 350px;
    height: 200px;
    position: relative;
}

.con-slider{
    max-width: 100%;
    max-height: 100%;
    position: absolute;
    opacity: 0;
    transition: 1s;
}

.active{
    opacity: 1;
}

#footer{
    background-color: #ffdacf;
    color: black;
    padding: 30px;
}

.footer-nav{
    text-align: left;
    padding-left: 30px;
}

#footer .footer-c{
    float: right;
    padding-left: 100px;
    font-size: 10px;
}